{% extends "template.twig" %}
{% block content %}
<div class="portfolio-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ post.getTitle|upper }}</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{{ post.getPicture ?? '/Common/themes/img/portfolio/cabin.png' }}" alt="" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5">{{ post.getContent }}</p>
                             <ul class="list-inline item-details">
                                <li>Auteur:
                                    <strong>{{ post.getAuthor.getFirstName }} {{ post.getAuthor.getLastName}} ({{ post.getAuthor.getPseudo}})</strong>
                                </li>
                                <li>Date de création:
                                    <strong>{{ post.getCreationDate.format('Y-m-d H:i') }}</strong>
                                </li>
                                <li>Date de modification:
                                    <strong>{{ post.getModificationDate.format('Y-m-d H:i') }}</strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                                </li>
                                {% if session.isAdmin %}
                                <li>Modification :
                                    <strong><a href="/?action=editPost&id={{ post.getid }}">Editer l'article</a></strong>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="modal-body">
                            <div class="container-fluid">
                                {% for comment in post.getComments %}
                                <div class="row">
                                    <div class="col-lg-2 text-left">
                                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar " alt="user profile image">
                                    </div>
                                    <div class="col-lg-3 text-left">
                                        <h5><a href="/?action=user&id={{ comment.getAuthor.getId }}"><b>{{ comment.getAuthor.getPseudo }}</b></a></h5>
                                        <h6 class="text-muted time">{{ comment.getCreationDate.format('Y-m-d H:i') }}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-justify"> 
                                        <p>{{ comment.getContent }}</p>
                                    </div>
                                </div>
                                <hr>
                                {% if session.isUser %}
                                <form class="form-comment" action="/?action=addComment&postId={{ post.getId }}" method="post">
                                    <label for="commentText" class="sr-only">Mot de passe</label>
                                    <textarea style="resize: none;" class="form-control" placeholder="Ajouter un commentaire" required="" name="commentText"></textarea>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Ajouter un commentaire</button>
                                </form>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{# <div class="portfolio-modal">
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ post.getTitle|upper }}</h2>
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <!-- <img src="<?= $imagePath ?>" class="img-responsive img-centered" alt=""> -->
                    <img src="{{ post.getPicture ?? '/Common/themes/img/portfolio/cabin.png' }}" class="img-fluid rounded mb-5" alt="">
                    <p class="mb-5">{{ post.getContent }}</p>
                    <ul class="list-inline item-details">
                        <li>Auteur:
                            <strong>{{ post.getAuthor.getFirstName }} {{ post.getAuthor.getLastName}} ({{ post.getAuthor.getPseudo}})</strong>
                        </li>
                        <li>Date de création:
                            <strong>{{ post.getCreationDate.format('Y-m-d H:i') }}</strong>
                        </li>
                        <li>Date de modification:
                            <strong>{{ post.getModificationDate.format('Y-m-d H:i') }}</strong>
                        </li>
                        <li>Service:
                            <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                        </li>
                        {% if session.isAdmin %}
                        <li>Modification :
                            <strong><a href="/?action=editPost&id={{ post.getid }}">Editer l'article</a></strong>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <div class="container-fluid">
                        {% for comment in post.getComments %}
                        <div class="row">
                            <div class="col-lg-2 text-left">
                                <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar " alt="user profile image">
                            </div>
                            <div class="col-lg-3 text-left">
                                <h5><a href="/?action=user&id={{ comment.getAuthor.getId }}"><b>{{ comment.getAuthor.getPseudo }}</b></a></h5>
                                <h6 class="text-muted time">{{ comment.getCreationDate.format('Y-m-d H:i') }}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-justify"> 
                                <p>{{ comment.getContent }}</p>
                            </div>
                        </div>
                        <hr>
                        {% if session.isUser %}
                        <form class="form-comment" action="/?action=addComment&postId={{ post.getId }}" method="post">
                            <label for="commentText" class="sr-only">Mot de passe</label>
                            <textarea style="resize: none;" class="form-control" placeholder="Ajouter un commentaire" required="" name="commentText"></textarea>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Ajouter un commentaire</button>
                        </form>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> #}
{% endblock %}