{% set mainTitle = 'Interface d\'administration' %}
{% extends "template.twig" %}
{% block preBody %}
    <link href="plugins/datatables/datatables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    {# <link href="plugins/datatables/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet"> #}
    <link href="themes/freelancer 4.5/css/signin.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="text-center padding" cz-shortcut-listen="true">
    <div class="container" cz-shortcut-listen="true">
        <h1>{{ mainTitle }}</h1>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#commentsManagement" role="tab" aria-selected="true">Gestion des commentaires</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#postsManagement" role="tab" aria-selected="false">Gestion des articles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{ router.url('post_add_page') }}" aria-selected="false">Ajouter un article</a>
              </li>
            </ul>
            <div class="tab-content">
                <div id="commentsManagement" class="tab-pane fade show active" role="tabpanel">
                    <table class="table table-striped table-bordered table-sm dtOrderExample" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="th-sm text-center ">Pseudo</th>
                                <th class="th-sm text-center ">Contenu</th>
                                <th class="th-sm text-center ">Date d'ajout</th>
                                <th class="th-sm text-center ">Visibilité</th>
                                <th class="th-sm text-center ">Lien vers l'article</th>
                                <th class="th-sm text-center ">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr id="comment_{{ comment.id }}">
                                <td>{{ comment.getAuthor.getPseudo }}</td>
                                <td>{{ comment.getContent }}</td>
                                <td>{{ comment.getCreationDate.format('Y-m-d H:i') }}</td>
                                <td><i id="visibilityIcon_{{ comment.getId }}" class="fa fa-eye{{ comment.isValid?"":"-slash"}}" aria-hidden="true"></i></td>
                                <td>
                                    <a href="/{{ router.url('post_page', {'id' : comment.getPostId}) }}">Lien</a>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="actionMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                                        <div class="dropdown-menu" aria-labelledby="actionMenuButton">
                                    {% if comment.isValid %}
                                            <a class="dropdown-item">
                                                <button id="commentButton_{{ comment.getId }}" class="btn btn-warning btn-block" type="submit" onclick="invalidateComment({{ comment.id }})">Masquer</button>
                                            </a>
                                    {% else %}
                                            <a class="dropdown-item">
                                                <button id="commentButton_{{ comment.getId }}" class="btn btn-success btn-block" type="submit" onclick="validateComment({{ comment.id }})">Valider</button>
                                            </a>
                                    {% endif %}
                                            <a class="dropdown-item">
                                                <button class="btn btn-danger btn-block" type="submit" onclick="removeComment({{ comment.id }})">Supprimer</button>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Pseudo</th>
                                <th>Contenu</th>
                                <th>Date d'ajout</th>
                                <th>Visibilité</th>
                                <th>Lien vers l'article</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div id="postsManagement" class="tab-pane fade" role="tabpanel">
                    <table class="table table-striped table-bordered table-sm dtOrderExample" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="th-sm text-center ">Titre</th>
                                <th class="th-sm text-center ">Auteur</th>
                                <th class="th-sm text-center ">Date d'ajout</th>
                                <th class="th-sm text-center ">Date de modification</th>
                                <th class="th-sm text-center ">Lien vers l'article</th>
                                <th class="th-sm text-center ">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for post in posts %}
                            <tr id="post_{{post.id}}">
                                <td>{{ post.getTitle }}</td>
                                <td>{{ post.getAuthor.getPseudo }}</td>
                                <td>{{ post.getCreationDate.format('Y-m-d H:i') }}</td>
                                <td>{{ post.getModificationDate.format('Y-m-d H:i') }}</td>
                                <td>
                                    <a href="/{{ router.url('post_page', {'id' : comment.getPostId}) }}">Lien</a>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="actionMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                                        <div class="dropdown-menu" aria-labelledby="actionMenuButton">
                                            <a class="dropdown-item">
                                                <button class="btn btn-danger btn-block" type="submit" onclick="removePost({{ post.id }})">Supprimer</button>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Titre</th>
                                <th>Auteur</th>
                                <th>Date d'ajout</th>
                                <th>Date de modification</th>
                                <th>Lien vers l'article</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postBody %}
    <script src="plugins/datatables/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(".dtOrderExample").DataTable(
            {   
                "columnDefs": [
                    {
                        "orderable": false, 
                        "targets": [4,5] 
                    }
                ],
                "order":[
                    [ 2, "desc" ]
                ],
                "language": {
                    "decimal":        "",
                    "emptyTable":     "Aucune donnée",
                    "info":           "Affichage de _START_ à _END_ sur _TOTAL_ lignes",
                    "infoEmpty":      "Aucune entrée dans la table",
                    "infoFiltered":   "(Filtré sur _MAX_ lignes totales)",
                    "infoPostFix":    "",
                    "thousands":      "",
                    "lengthMenu":     "Afficher _MENU_ lignes",
                    "loadingRecords": "Chargement...",
                    "processing":     "traitement...",
                    "search":         "Rechercher:",
                    "zeroRecords":    "Aucun résultat",
                    "paginate": {
                        "first":      "Premier",
                        "last":       "Dernier",
                        "next":       "Suivant",
                        "previous":   "Précédent"
                    },
                    "aria": {
                        "sortAscending":  ": Activer pour trier par ordre croissant",
                        "sortDescending": ": Activer pour trier par ordre décroissant"
                    }
                }
            }
            );
        $(".dataTables_length").addClass("bs-select");

        function removePost(id){
            $.ajax({
                type: "POST",
                url: "/posts/"+id+"/remove",
                dataType : 'json',
                data: {
                    token: "{{ token }}"
                },
                success : function(data){
                    if (data>=1) {
                        $("#post_"+id).remove()
                        $('#dtOrderExample').DataTable().ajax.reload();
                        return;
                    }
                    alert("Une erreur est survenue lors de la suppression");
                },
                error : function(argument) {
                    alert("Une erreur est survenue, merci de recharger la page");
                }
            });
        }

        function validateComment(id){
            console.log("{{token}}"+" "+id);
            $.ajax({
                type: "POST",
                url: "/comments/"+id+"/validate",
                dataType : 'json',
                data: {
                    token: "{{ token }}"
                },
                success : function(data){
                    if (data.rowAffecteds==1) {
                        // $("#post_"+id).remove()
                        $('#visibilityIcon_'+id).removeClass('fa-eye-slash').addClass('fa-eye');
                        $('#commentButton_'+id).removeClass('btn-success').addClass('btn-warning');
                        $('#commentButton_'+id).html('Masquer');
                        $('#commentButton_'+id).removeAttr('onclick');
                        $('#commentButton_'+id).attr('onClick', 'invalidateComment('+id+')');
                        $('#dtOrderExample').DataTable().ajax.reload();
                    }
                },
                error : function(argument) {
                    alert("Une erreur est survenue, merci de recharger la page");
                }
            });
        }

        function invalidateComment(id){
            console.log("{{token}}"+" "+id);
            $.ajax({
                type: "POST",
                url: "/comments/"+id+"/invalidate",
                dataType : 'json',
                data: {
                    token: "{{ token }}"
                },
                success : function(data){
                    if (data.rowAffecteds==1) {
                        // $("#post_"+id).remove()
                        $('#visibilityIcon_'+id).removeClass('fa-eye').addClass('fa-eye-slash');
                        $('#commentButton_'+id).removeClass('btn-warning').addClass('btn-success');
                        $('#commentButton_'+id).html('Afficher');
                        $('#commentButton_'+id).removeAttr('onclick');
                        $('#commentButton_'+id).attr('onClick', 'validateComment('+id+');');
                        $('#dtOrderExample').DataTable().ajax.reload();
                    }
                },
                error : function(argument) {
                    alert("Une erreur est survenue, merci de recharger la page");
                }
            });
        }

        function removeComment(id){
            $.ajax({
                type: "POST",
                url: "/comments/"+id+"/remove",
                dataType : 'json',
                data: {
                    token: "{{ token }}"
                },
                success : function(data){
                    if (data.rowAffecteds == 1) {
                        // $("#comment_"+id).remove()
                        $('#dtOrderExample').DataTable().ajax.reload();
                        return;
                    }
                    alert("Erreur de suppression : "+data.code+" : "+data.message);
                },
                error : function(argument) {
                    alert("Une erreur est survenue, merci de recharger la page");
                }
            });
        }
    </script> 
{% endblock %}
