{% set mainTitle = 'Connexion' %}
{% extends "template.twig" %}
{% block preBody %}
    <link href="{{ config.getWebsiteRoot }}/themes/freelancer 4.5/css/signin.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div id="login" class="text-center" cz-shortcut-listen="true">
    <form class="form-signin" action="/{{ router.url('login_request') }}" method="post">
        <p class="text-danger">{{ error ?? "" }}</p>
        <img class="mb-4" src="{{ config.getWebsiteRoot }}./images/logo.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <label for="inputEmail" class="sr-only">Adresse mail</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="email">
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
        <div class="checkbox mb-3">
        <label>
            <!-- <input type="checkbox" value="remember-me"> Remember me -->
        </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
        <p>Pas encore membre ? <a href="/{{ router.url('register_page') }}">S'enregistrer</a></p>
    </form>
</div>
{% endblock %}
