{% extends "template.twig" %}
{% block preBody %}
    <link href="{{ config.getWebsiteRoot }}/themes/freelancer 4.5/css/signin.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div id="post" class="text-center padding" cz-shortcut-listen="true">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ post.getTitle|upper }}</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image-->
                <img class="img-fluid rounded mb-5" src="{{ config.getWebsiteRoot }}/{{ post.getPicture ?? './images/cabin.png' }}" alt="" />
                <!-- Portfolio Modal - Text-->
                {%autoescape false%}{{ post.getContent }}{%endautoescape%}
                 <ul class="list-inline item-details">
                    <li>Auteur:
                        <strong>{{ post.getAuthor.getFirstName }} {{ post.getAuthor.getLastName}} ({{ post.getAuthor.getPseudo}})</strong>
                    </li>
                    <li>Date de création:
                        <strong>{{ post.getCreationDate.format('Y-m-d H:i') }}</strong>
                    </li>
                    <li>Date de modification:
                        <strong>{{ post.getModificationDate.format('Y-m-d H:i') }}</strong>
                    </li>
                    <li>Service:
                        <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                    </li>
                    {% if session.isAdmin %}
                    <li>Modification :
                        <strong><a href="/{{ router.url('post_edit_page', {'id' : post.getId}) }}">Editer l'article</a></strong>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="modal-body">
                <div class="container-fluid">
                    {% for comment in post.getComments %}
                    <div class="row">
                        <div class="col-lg-2 text-left">
                            <img src="https://robohash.org/{{ comment.getAuthor.getPseudo }}/?size=100x100&set=any" class="img-circle avatar " alt="user profile image">
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5><b>{{ comment.getAuthor.getPseudo }}</b></a></h5>
                            <h6 class="text-muted time">{{ comment.getCreationDate.format('Y-m-d H:i') }}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-justify"> 
                            <p>{{ comment.getContent }}</p>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    {% if session.isAuthenticated %}
                        <label for="commentText" class="sr-only">Commentaire :</label>
                        <textarea style="resize: none;" class="form-control" placeholder="Ajouter un commentaire" required="" name="commentText" id="commentText"></textarea>
                        <button class="btn btn-lg btn-primary btn-block" onclick="addComment()" type="submit">Ajouter un commentaire</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postBody %}
    <script type="text/javascript">
        function addComment(){
            $.ajax({
                type: "POST",
                url: "{{ config.getWebsiteRoot }}/?action=addComment&postId={{ post.getId }}",
                dataType : 'json',
                data: {
                    commentText: $('#commentText').val()
                },
                success : function(data){
                    console.log(data);
                },
                error : function(argument) {
                    console.log('error:'+JSON.stringify(argument));
                }
            });
        }
    </script>
{% endblock %}