<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ mainTitle ?? "Titre par défaut" }}</title>
    <meta charset="utf-8">
    {# <meta http-equiv="X-UA-Compatible" content="IE=edge"> #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ config.getWebsiteRoot }}/images/logo.png" />
        <!-- Font Awesome icons (free version)-->
        <link href="{{ config.getWebsiteRoot }}/plugins/components/font-awesome/css/all.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ config.getWebsiteRoot }}/themes/freelancer 4.5/css/styles.css" rel="stylesheet" />

    {% block preBody %}{% endblock %}
</head>
<body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{ config.getWebsiteRoot }}/">Florian LEBOUL</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ config.getWebsiteRoot }}/#portfolio">Projets</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ config.getWebsiteRoot }}/#about">A propos</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ config.getWebsiteRoot }}/#contact">Contact</a></li>
                        <li class="nav-item mx-0 mx-lg-1">
                            {% if session.isAuthenticated %}
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/{{ router.url('logout_request') }}">Déconnexion</a>
                            {% else %}
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/{{ router.url('login_page') }}">Connexion</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% block content %}{% endblock %}
    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Adresse</h4>
                    <p class="lead mb-0">
                        Pont-Saint-Martin
                        <br />
                        44860
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Sites web</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://florian-leboul.fr"><i class="fa fa-fw fa-link"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://fr.linkedin.com/in/florian-leboul-697abb107"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/florianleboul"><i class="fab fa-fw fa-github"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h3>Accès membre</h3>
                    {% if session.isAuthenticated %}
                        {% if session.isAdmin %}
                            <p>Accéder à <a href="/{{ router.url('admin_page') }}">l'interface d'administration</a>.</p>
                        {% endif %}
                        <p><a href="/{{ router.url('logout_request') }}">Déconnexion</a>.</p>
                    {% else %}
                    <p>Se <a href="/{{ router.url('login_page') }}">connecter</a>.</p>
                    <p>S'<a href="/{{ router.url('register_page') }}">enregistrer</a>.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </footer>
        <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © F.LEBOUL 2020</small></div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>

    <!-- Bootstrap core JS-->
        <script src="{{ config.getWebsiteRoot }}/plugins/components/jquery/jquery.min.js"></script>
        <script src="{{ config.getWebsiteRoot }}/plugins/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="{{ config.getWebsiteRoot }}/themes/freelancer 4.5/assets/mail/jqBootstrapValidation.js"></script>
        <script src="{{ config.getWebsiteRoot }}/themes/freelancer 4.5/assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="{{ config.getWebsiteRoot }}/themes/freelancer 4.5/js/scripts.js"></script>
    {% block postBody %}{% endblock %}
</body>
</html> 
